@font-face {
  font-family: AvenirNext;
  src: url(../fonts/AvenirNextLTPro-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: AvenirNext;
  src: url(../fonts/AvenirNextLTPro-Bold.woff);
  font-weight: 700;
}
